body {
background-image: url("https://as2.ftcdn.net/v2/jpg/02/62/37/29/1000_F_262372900_fiKg5ZvEreIfcNyYNaWeo59501FWUwt0.jpg");
}

h1{
color: white;
 display: flex;
flex-direction: row; 
   justify-content: center;
}